* {
    margin: 0;
    padding: 0;
}
h1 {
    margin-top: 12px;
}
h3 {
    margin-top: 19px;
    opacity: 0.8;
    font-size: 18px;
    color: #313536;
}
.rset {
    margin-top: 25px;
    height: 57px;
    width: 100px;
    border-radius: 24px;
    border: none;
    font-size: 15px;
    font-family:cursive;
    background-color: rgb(43, 206, 48);
    box-shadow: 3px 3px 20px rgba(0 0 0 / 0.7);
}
.hrset {
    margin-top: 25px;
    height: 57px;
    width: 100px;
    border-radius: 21px;
    font-size: 16px;
    font-family:cursive;
    border: none;
    background-color: rgb(32, 171, 37);
    box-shadow: 3px 3px 20px rgba(0 0 0 / 0.7);
}
body {
    text-align: center;
    background-color: #BE7663;
}

.BigBox {
    margin-top: 10px;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.BeegBox {
    margin-top: 250px;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#butns {
    height: 470px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.box {
    font-family: cursive;
    text-align: center;
    color: #2e474e;
    font-size: 55px;
    height: 150px;
    width: 150px;
    border-radius: 12px;
    background-color: #F7CB15;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    border: none;
}
.hbox{
    font-family: cursive;
    text-align: center;
    color: #2e474e;
    font-size: 60px;
    height: 150px;
    width: 150px;
    border-radius: 9px;
    background-color: #c6a41d;
    box-shadow: 0 0 1rem rgba(0,0,0,0.9);
    border: none;
}
.hide1{
    display: none;
}
.announce{
    color: rgb(196, 234, 7);
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    margin-top: 315px;
}
.hide{
    display: none;
}
.winbox {
    background-color: rgb(21, 188, 60) !important;
    color: black;
    font-weight: bold;
    transition: 0.3s ease;
}